/* @import url(https://fonts.google.com); */
@font-face {
  font-family: "TitilliumWeb-SemiBold";
  src: url(./style/fonts/TitilliumWeb-SemiBold.eot);
  src: url(./style/fonts/TitilliumWeb-SemiBold.eot?#iefix)
      format("embedded-opentype"),
    url(./style/fonts/TitilliumWeb-SemiBold.woff2) format("woff2"),
    url(./style/fonts/TitilliumWeb-SemiBold.woff) format("woff"),
    url(./style/fonts/TitilliumWeb-SemiBold.ttf) format("truetype"),
    url(./style/fonts/TitilliumWeb-SemiBold.svg#TitilliumWeb-SemiBold)
      format("svg"),
    url(./style/fonts/TitilliumWeb-SemiBold.otf) format("otf");
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  list-style-type: none;
}
body {
  font-family: "TitilliumWeb-SemiBold";
}
.container {
}
.container > .header {
  width: 100%;
  height: 55px;
  background-color: #f7931a;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.container > .header > p {
  /* font-family: "TitilliumWeb-SemiBold"; */
  font-weight: 600;
}
.container > .title {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px 30px;
  margin: 0px auto;
  width: 100%;
  height: 65px;
}
.container > .title > .pic {
}
.container > .title > .pic > img {
  width: 123px;
  height: 29px;
}
.container > .title > .ordderd {
}
.container > .title > .ordderd > ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  position: relative;
}
.ordderd > ul > li {
  padding: 0px 20px;
}
/* زیر بوردر ها */
.ordderd > ul > li > ul {
  position: absolute;
  top: 25px;
 left: -80px;
  z-index: 99;
  transition: all 0.2s ease-in-out;
  width: 40%;
  height: 230px;
  border: lightgray solid 1px;
  opacity: 0px;
  visibility: hidden;
  z-index: 99;
  transition: all .1s ease-in-out;
}

.ordderd > ul > li > ul > li {
  border: 1px transparent solid;
  background-color: transparent;
  padding-top: 10px;
  padding-left: 5px;
  width: 100%;
}
.ordderd > ul > li > ul > li > a {
  text-decoration: none;
  color: black;
  width: 100%;
}
.ordderd > ul > li > ul > li:hover {
  width: 100%;
  background-color: lightgray;
}
.ordderd > ul > .li1:hover > ul {
  opacity: 1;
  visibility: visible;
  transition: all .1s;
}

.ordderd > ul > li > a {
  text-decoration: none;
  color: #000;
  font-family: "TitilliumWeb-SemiBold";
  font-weight: 100;
}
.ordderd > ul > li > a > i {
  transition: all 0.2s;
}
.ordderd > ul > li:hover > a > i {
  transform: rotate(-180deg);
}
.lan > ul {
}
.lan > ul > li > a {
  text-decoration: none;
  color: black;
  font-family: "TitilliumWeb-SemiBold";
}
.lan > ul > li > a > i {
  transition: all 0.2s;
}
.lan > ul > li:hover > a > i {
  transform: rotate(180deg);
}
