/* @import url(https://fonts.google.com); */
@font-face {
  font-family: "TitilliumWeb-SemiBold";
  src: url(./style/fonts/TitilliumWeb-SemiBold.eot);
  src: url(./style/fonts/TitilliumWeb-SemiBold.eot?#iefix)
      format("embedded-opentype"),
    url(./style/fonts/TitilliumWeb-SemiBold.woff2) format("woff2"),
    url(./style/fonts/TitilliumWeb-SemiBold.woff) format("woff"),
    url(./style/fonts/TitilliumWeb-SemiBold.ttf) format("truetype"),
    url(./style/fonts/TitilliumWeb-SemiBold.svg#TitilliumWeb-SemiBold)
      format("svg"),
    url(./style/fonts/TitilliumWeb-SemiBold.otf) format("otf");
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  list-style-type: none;
}
.container {
}
.container > .header {
  width: 100%;
  height: 55px;
  background-color: #f7931a;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.container > .header > p {
  font-family: "TitilliumWeb-SemiBold";
  font-weight: 600;
}
.container > .title {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px 30px;
  margin: 0px auto;
  width: 100%;
  height: 65px;
}
.container > .title > .pic {
}
.container > .title > .pic > img {
  width: 123px;
  height: 29px;
}
.container > .title > .ordderd {
}
.container > .title > .ordderd > ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
}
.ordderd > ul > li {
  padding: 0px 20px;
}
.ordderd > ul > li > a {
  text-decoration: none;
  color: #000;
  font-family: "TitilliumWeb-SemiBold";
  font-weight: 100;
}
.ordderd > ul > li > a > i {
  transition: all 0.2s;
}
.ordderd > ul > li:hover > a > i {
  transform: rotate(-180deg);
}
